@page "/intropage"

<h3>IntroPage</h3>

<h1>Welcome to Itahari International College</h1>

<img src="Image/IIC.jpeg" alt="college" style="width:300px; border-radius:8px;" />

<p>My college name is Itahari International College.</p>

@code {


}
