@page "/Profile"
<h3>Profile</h3>

<img src="Image/student.png" style="width:150px;" />

<h3>@studentName</h3>
<p>@courseName</p>
<p>@batchYear</p>

@code {
    String photopath = "Image/student.png";
    String studentName = "Kristina";
    String courseName = ".NET MAUI Hybrid Training";
    String batchYear = "2025";
}
